body, html, * {
  font-family: 'Inter', sans-serif !important;
  background-size: cover;
}

nav.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  width: 260px;
  height: 260px;
}
.profile-card > div h2 {
  margin-bottom: 0.5rem;
}

.profile-card > div p {
  margin-bottom: 0rem;
  margin-top: 0;
}

footer {
  background-color: #222;
  margin-top: auto;
  padding: 1rem;
  color: white;
  text-align: center;
}

.content-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
  padding: 2rem 2.5rem;
  margin-bottom: 1.5rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blog-list li {
  margin-bottom: 1.2rem;
}